/* Resolution 520px */
/* Banner */
main {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;

}

.banner {
  position: relative;

}

.banner img {
  height: 25vh;
  max-width: 100vw;
  object-fit: cover;

}

/* Categorias */
.categoria-produtos {
  align-items: center;
  display: flex;
  flex-direction: column;


  margin-top: -.25rem;
  padding: .5rem 0;
  max-width: 1170px;
}

.color-produto {
  background-color: #ffa200;
}

.categoria-produtos img {
  object-fit: cover;

  height: 8.5rem;
  margin-top: .15rem;
  max-width: 100vw;
  padding: 0rem;
  width: 33rem;
}

.categoria-animal {
  display: flex;
  flex-wrap: wrap;
}

.categoria-animal img {
  max-width: 100vw;
  margin: .5rem 0;
}

/* Produtos */
.produtos-novidade {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: #7f7f7f;
  margin: 2rem 0;

}

.produtos-novidade h2 {
  text-transform: uppercase;

  width: 100vw;
  font-size: 2rem;
  font-weight: bold;

}

.produtos-novidade figure {
  position: relative;

  margin: 1rem 0;

}

.produto-tag {
  position: absolute;
  text-transform: uppercase;

  background: #8158c5;
  color: #ffffff;
  font-weight: 500;
  left: 0;
  padding: .75rem;
  z-index: 3;

}

.produto-tag:last-child{
  background: red;
}

.porcento::after{
  content: "50% OFF";
}

.novo::after{
  content: "NOVO";
}

.produto-compra-rapida {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;

  height: 80%;
  opacity: 0;
  top: 0;
  width: 100%;

}

.produto-compra-rapida:hover {
  background: rgba(129, 88, 197, .5);
  opacity: 1;

}

.produto-descricao {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;

}

.produto-descricao span {
  margin: .3rem 0;

}

.produto-titulo {
  font-weight: 500;

}

.produto-desconto {
  margin-top: .3rem;

}


.produto-preco-antigo {
  text-decoration: line-through;

  margin-right: 1rem !important;

}

.produto-preco {
  font-weight: bold;

}

.produto-parcela {
  margin-top: .1rem !important;
  font-size: .9rem;
  font-weight: 400;

}

.produto-compra-rapida-text {
  text-transform: uppercase;

  background-color: #ffa200;
  color: #ffffff;
  font-size: 16px;
  padding: 1rem 1rem;

}


/* Resolution 768px */
@media (min-width: 768px) {
  main {
    padding-top: 9vh;

  }

  .banner img {
    height: 30vh;

  }

  /* Categorias */
  .categoria {

    margin-top: -.25rem;
    padding: .5rem 0;

    display: flex;
    justify-content: center;

  }

  .color-produto {
    background-color: #ffa200;
  }

  .categoria-produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: -0.5rem;
    padding: .5rem 0;

  }

  .categoria-produtos img {
    height: 4rem;
    width: 14rem;
    margin: 0 .5rem;

  }

  .categoria-animal {
    display: flex;
    flex-wrap: wrap;
  }

  .categoria-animal img {
    max-width: 45vw;
    margin: 0 1rem;
  }


  /* Produtos */
  .produtos-novidade {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  .produtos-novidade h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;

  }

  .produtos-novidade figure {
    margin: 1rem;

  }

}

/* Resolution 1024px */
@media (min-width: 1024px) {
  main {
    padding-top: 8rem;

  }

  .banner img {
    height: 39vh;

  }

  /* Categorias */
  .categoria-produtos {
    flex-direction: row;
    justify-content: center;

    padding: .5rem 0;

  }

  .categoria-produtos img {
    height: 10vh;
    margin: 0 .5rem;
    width: 22vw;

  }

  /* Produto */

  .produto {
    display: flex;
    justify-content: center;

  }

  .produtos-novidade {
    justify-content: flex-start;

    margin-left: 3rem;
    max-width: 1170px;
    width: 95vw;

  }

  .produtos-novidade figure {
    margin: .5rem;

  }

}