/* Resolution 768px */
@media (min-width: 768px) {

  /* Header */
  .menu {
    justify-content: space-evenly;

  }

  .icon {
    order: -1;
  }

  .menu .logo {
    order: 1;

  }

  .menu-perfil {
    order: 2;
    padding: 0;

  }

  .menu-nav {
    order: 3;

  }

  .menu-pesquisa {
    order: -1;
    width: 10rem;

  }

  input[type=text],
  select {
    margin-left: -2rem;
    padding: 0 10px;
  }

  main {
    padding-top: 9vh;

  }

  .banner img {
    height: 30vh;

  }

  /* Categorias */
  .categoria {

    margin-top: -.25rem;
    padding: .5rem 0;

    display: flex;
    justify-content: center;

  }

  .color-produto {
    background-color: #ffa200;
  }

  .categoria-produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: -0.5rem;
    padding: .5rem 0;

  }

  .categoria-produtos img {
    height: 4rem;
    width: 14rem;
    margin: 0 .5rem;

  }

  .categoria-animal {
    display: flex;
    flex-wrap: wrap;
  }

  .categoria-animal img {
    max-width: 45vw;
    margin: 0 1rem;
  }


  /* Produtos */
  .produtos-novidade {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  .produtos-novidade h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;

  }

  .produtos-novidade figure {
    margin: 1rem;

  }

}

/* Resolution 1024px */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    max-width: 1170px;

  }

  /* Header */
  .menu {
    align-items: center;

    justify-content: space-evenly;
    padding-bottom: 0;
  }

  .menu .logo {
    height: 4rem;

  }

  #links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: .8rem;
  }

  #links li {
    margin: 0 1vw;
    padding: 1.5rem 0;

  }

  #links li a {
    padding: 1.3rem 0;
  }

  #links :hover {
    background-color: #ffa200;
  }

  .menu-pesquisa {
    margin-left: 1rem;
    width: 12rem;
  }

  input[type=text],
  select {
    margin-left: 0;

  }

  .icon {
    display: none;

  }

  main {
    padding-top: 8rem;

  }

  .banner img {
    height: 39vh;

  }

  /* Categorias */
  .categoria-produtos {
    flex-direction: row;
    justify-content: center;

    padding: .5rem 0;

  }

  .categoria-produtos img {
    height: 10vh;
    margin: 0 .5rem;
    width: 22vw;

  }

  /* Produto */

  .produto {
    display: flex;
    justify-content: center;

  }

  .produtos-novidade {
    justify-content: flex-start;

    margin-left: 3rem;
    max-width: 1170px;
    width: 95vw;

  }

  .produtos-novidade figure {
    margin: .5rem;

  }

}