/* Resolution 768px */
@media (min-width: 768px) {
  main {
    padding-top: 9vh;

  }

  .banner img {
    height: 30vh;

  }

  /* Categorias */
  .categoria {

    margin-top: -.25rem;
    padding: .5rem 0;

    display: flex;
    justify-content: center;

  }

  .color-produto {
    background-color: #ffa200;
  }

  .categoria-produtos {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: -0.5rem;
    padding: .5rem 0;

  }

  .categoria-produtos img {
    height: 4rem;
    width: 14rem;
    margin: 0 .5rem;

  }

  .categoria-animal {
    display: flex;
    flex-wrap: wrap;
  }

  .categoria-animal img {
    max-width: 45vw;
    margin: 0 1rem;
  }


  /* Produtos */
  .produtos-novidade {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }

  .produtos-novidade h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;

  }

  .produtos-novidade figure {
    margin: 1rem;

  }
}

/* Resolution 1024px */
@media (min-width: 1024px) {
  main {
    padding-top: 8rem;

  }

  .banner img {
    height: 39vh;

  }

  /* Categorias */
  .categoria-produtos {
    flex-direction: row;
    justify-content: center;

    padding: .5rem 0;

  }

  .categoria-produtos img {
    height: 10vh;
    margin: 0 .5rem;
    width: 22vw;

  }

  /* Produto */

  .produto {
    display: flex;
    justify-content: center;

  }

  .produtos-novidade {
    justify-content: flex-start;

    margin-left: 3rem;
    max-width: 1170px;
    width: 95vw;

  }

  .produtos-novidade figure {
    margin: .5rem;

  }

}